<div class="flex flex-col justify-center items-center w-full lg:w-2xl gap-4 p-3">
    <img src="https://t2.tudocdn.net/649055?w=1920&h=1080" class="w-full  rounded-lg"/>
    <h2 class="text-2xl lg:text-4xl md:text-3xl font-bold">Título do Card Grande</h2>
    <p class="w-full">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>