<!--  Categories - games -->
<div class="w-full flex items-center justify-center p-4 ">
   <div class=" w-4/5 h-4/5 flex flex-col md:flex-row items-center justify-center gap-2">
      <img src="assets/images/pic-games1.webp" alt="categories" class="md:w-68 md:h-38 w-full h-full rounded-2xl md:hover:scale-150 duration-200">
      <img src="assets/images/pic-games2.webp" alt="categories" class="md:w-68 md:h-38 w-full h-full rounded-2xl md:hover:scale-150 duration-200">
      <img src="assets/images/pic-games3.webp" alt="categories" class="md:w-68 md:h-38 w-full h-full rounded-2xl md:hover:scale-150 duration-200">
      <img src="assets/images/pic-games5.webp" alt="categories" class="md:w-68 md:h-38 w-full h-full rounded-2xl md:hover:scale-150 duration-200">
      <img src="assets/images/pic-games4.jpg" alt="categories" class="md:w-68 md:h-38 w-full h-full rounded-2xl md:hover:scale-150 duration-200">
   </div>
 </div>