<div class="w-full h-16 flex items-center justify-between lg:px-6 bg-white shadow-md">
    <div class="w-full flex items-center gap-4 ">
        <img src="assets/images/play-logo.png" alt="Logo da Sony" class="h-10">
        <div class="hidden md:flex items-center p-2 ">
            <ul class="flex items-center gap-10">
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Jogos</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS5</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS4</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS Plus</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Acessórios</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Loja</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Suporte</li>
            </ul>
        </div>
    </div>
    <div class="hidden lg:flex items-center gap-4">
        <button type="button" class="w-40 bg-brand-900 text-white text-sm px-4 py-2 rounded-full">Iniciar Sessão</button>
        <input type="text" placeholder="Pesquisar" class="px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>

    
</div>
<div class="w-full h-16 flex items-center justify-between lg:px-6 bg-linear-to-tr from-brand-500 to-brand-900 shadow-md">
    <div class="lg:w-64 p-2 flex items-center justify-center bg-linear-to-bl from-red-500 to-purple-500 w-32 h-10">
        <button type="button" class="font-bold text-white">25 de Maio a 20 de Junho</button>
    </div>
    <h1 class="hidden  md:flex text-white font-bold text-4xl md:text-xl lg:text-3xl uppercase">Ganhe os melhores premios nos torneios do ps5</h1>
    <div class="lg:w-72 p-2 flex items-center justify-center bg-red-600 w-32 h-10 rounded-full">
        <button type="button" class="font-bold text-white">Garanta Ofertas dos Days of Play</button>
    </div>
</div>