<div class="w-full h-16 flex items-center justify-between lg:px-6 bg-white shadow-md">
    <div class="w-full flex items-center gap-4 ">
        <img src="assets/images/play-logo.png" alt="Logo da Sony" class="h-10">
        <div class="hidden md:flex items-center p-2 ">
            <ul class="flex items-center gap-10">
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Jogos</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS5</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS4</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">PS Plus</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Acessórios</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Loja</li>
                <li class="text-gray-700 hover:text-gray-900 cursor-pointer">Suporte</li>
            </ul>
        </div>
    </div>
    <div class="hidden lg:flex items-center gap-4">
        <button type="button" class="w-40 bg-brand-900 text-white text-sm px-4 py-2 rounded-full">Iniciar Sessão</button>
        <input type="text" placeholder="Pesquisar" class="px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
    </div>
    
</div>