<footer class="flex flex-col justify-between w-full h-150 bg-linear-to-tl from-brand-900 to-brand-900  px-4 lg:px-18 py-2">
    <!-- inner footer logo -->
     <div class="w-full h-18 border border-b-gray-200/30 border-t-0 border-l-0 border-r-0">
        <img src="assets/images/play-logo-blue.png" class="h-16" >
     </div>

     <!-- copyright line-->
     <div class="w-full h-12 border border-t-gray-200/30 border-b-0 border-l-0 border-r-0 flex items-cener justify-between">
        <a href="#" class="w-12 lg:w-28 flex items-center justify-between md:flex-row font-thin text-white hover:underline hover:opacity-75 duration-200">
            <img src="assets/images/globe.svg" alt="All Around the World" class="w-8 h-8" >
            <span class="hidden md:flex">Brasil</span>
            <img src="assets/images/right.svg" alt="All Around the World" class="hidden md:flex w-10 h-10" >
        </a>
        <!-- Links -->
        <div class="lg:py-4">
            <ul class="lg:w-1xl flex lg:flex-row  items-center justify-between text-white text-sm font-thin">
                <li class="border border-r-gray-200/30 border-l-0 border-t-0 border-b-0 px-2">
                    <a href="#">Bases jurídicas </a>
                </li>
                <li class="border border-r-gray-200/30 border-l-0 border-t-0 border-b-0 px-2">
                    <a href="#">Política de privacidade</a>
                </li>
                <li class="border border-r-gray-200/30 border-l-0 border-t-0 border-b-0 px-2">
                    <a href="#">Termos de uso do website</a>
                </li>
                <li class="px-2">
                    <a href="#">Mapa do site</a>
                </li>
            </ul>
         </div>
     </div> 
     

</footer>
