<div class="flex flex-col items-center w-screen h-screen p-4 lg:p-10 lg:w-7xl md:w-4xl text-white ">
    
    <!-- tela de início -->
    <div class="w-full lg:w-7xl flex items-center justify-center gap-6 py-2">
        <img src="assets/images/star-wars-logo.png" alt="Star War Quizz" class="w-32 lg:w-44">
        <div class="flex flex-col">
            <h3 class="text-3xl lg:text-5xl md:text-4xl font-bold uppercase text-yellow-400">{{title}}</h3>
            <p class="hidden md:block text-lg lg:text-xl text-center">{{subtitle}}</p>
        </div>
    </div>

    <!-- tela de perguntas -->
    <div
    *ngIf="!finished"
    class="bg-yellow-400 w-md lg:w-7xl md:w-4xl sm:w-2xl h-32 lg:h-32 flex flex-col items-center justify-center gap-4 mt-10 rounded">
        <h3 class="text-center text-lg lg:text-xl font-bold text-black p-2 lg:p-6">
            {{questionsSelected.question}}
        </h3>
    </div>

    <!-- tela de respostas -->
    <div 
    *ngIf="!finished"
    class="w-full lg:w-7xl md:w-4xl sm:w-2xl flex flex-col items-center justify-center gap-4 mt-10">
        
    <button 

    *ngFor="let option of questionsSelected.options; let i = index"
      (click)="playerChoose(option.alias)"

    class="w-full h-24 lg:h-12 lg:w-7xl md:w-lg bg-blue-500 hover:bg-black duration-300 hover:border hover:border-yellow-400 text-white hover:text-yellow-400 px-4 py-2 rounded">{{option.name}}</button>
    </div>

    <!-- tela de resultado -->
    <div 
    *ngIf="finished"
    class="border border-white w-md h-32 lg:h-44 lg:w-7xl md:w-4xl sm:w-2xl flex flex-col items-center justify-center gap-4 mt-10 rounded p-4 text-center">
        <h1>O seu resultado é:</h1>
        <p>{{answersSelected}}</p>
    </div>
    <button 
    *ngIf="finished"
    (click)="restart()" class="mt-10 bg-yellow-400 text-black font-bold py-2 px-4 rounded hover:bg-yellow-500">Reiniciar</button>
</div>
