<div class="w-full h-120 flex flex-col items-center justify-center">
    <p class="text-4xl font-thin text-shadow-gray-900/10">Siga-nos nas redes sociais</p>
    <div class="w-full flex items-center justify-center p-4 ">
      <div class="w-full flex flex-col lg:flex-row items-center justify-center ">
         <div class="flex items-center justify-center gap-4">
            <img src="assets/images/social-link1.webp" alt="categories" class="w-44 md:w-20 rounded-2xl hover:scale-102 duration-200">
            <img src="assets/images/social-link2.webp" alt="categories" class="w-44 md:w-20 rounded-2xl hover:scale-102 duration-200">
         </div>
         <div class="flex items-center justify-center gap-4 mt-4">
            <img src="assets/images/social-link3.webp" alt="categories" class="w-44 md:w-20 rounded-2xl hover:scale-102 duration-200">
            <img src="assets/images/social-link4.webp" alt="categories" class="w-44 md:w-20 rounded-2xl hover:scale-102 duration-200">
         </div>
   </div>
</div>
 </div>