/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';


@theme {
  /* Define a single color */
  --color-brand-primary: #3b82f6;

  /* Define a color with multiple shades */
  --color-brand-50: #eff6ff;
  --color-brand-500: #3b82f6;
  --color-brand-900: #1e3a8a;

  /* fonts sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;

  
}

body {

    /* Reset CSS */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
