<div class="flex items-center justify-center lg:w-6xl md:w-4xl sm:w-2xl w-lg h-16 ">
    <ul class="flex flex-row items-center justify-center w-max-7xl gap-3 text-white uppercase">
        <li><a routerLink="/" class="hover:text-yellow-600 duration-150">Home</a></li>
        <li><a routerLink="./about" class="hover:text-yellow-600 duration-150">about us</a></li>
        <li><a routerLink="./blog" class="hover:text-yellow-600 duration-150">our blog</a></li>
        <li><a routerLink="./contact" class="hover:text-yellow-600 duration-150">contact us</a></li>
    </ul>
</div>